.list-view:focused .list-cell:selected #peers, .list-view:focused .list-cell:selected #file {
    -fx-text-fill: lightgray;
}

.icons {
    -fx-font-family: FontAwesome;
    -fx-text-fill: #333;
    -fx-font-size: 1em;
}

.reflect {
    -fx-scale-x: -1;
}

.header-font {
    -fx-font-size: 1em;
    -fx-font-weight: bold;
}

.custom-font {
    -fx-font-size: 0.9em;
}

#descLabel {
    -fx-text-fill: gray;
}

#nameLabel {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.hyperlink {
    -fx-border-width: 0;
}
